*{
  box-sizing: border-box;
  font-family:Rubik, sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  font-family: Rubik;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 22px;
}
*:focus{
  outline: 2px dashed #7296EC;
  outline-offset: 3px;
}
/* BUTTON */
.button{
  display: inline-block;
  padding: 13px 20px;
  border-radius:10px;
  border: 0px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500px;
  text-decoration: none;
  align-items:center;
  cursor: pointer;
}
.button-primery{
  background:#7296EC;
  color:#fff;
}
.button-primery:hover{
  opacity: 0.8;
}
.button-primery:active{
  opacity: 0.6;
}
.container{
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* SITE HEADER */

.site-header-top{
  padding-top: 30px;
  padding-bottom: 30px;
  background:#f6f6f6;
}
.site-header-top-container{
  display: flex;
  align-items:center;
}
.site-header-logo{
  display: flex;
  padding: 8px 6px;
  border-radius: 7px;
  background:#fff;
  margin-right: 30px;
}
.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.5;
}
.currency-retes{
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: auto;
}
.currency-retes-item:not(:last-child){
  margin-right: 25px;
}
.currensy-retes-type{
  color:#2959CE
}
.currensy-retes-value{
  color: #555555;
}
/* global saerch */
.global-search-form{
  margin-right: 25px;
}
.global-search-form::before{
  content:"";
  width: 20px;
  height: 20px;
  background-image:url(../img/poisk.png)
  border1px solid red;
}
.global-search-form-input{
  padding:15px 0px 13px 45px;
  border: 0px;
  border-radius:60px;
  font-size: 14px;
  line-height: normal;

}


/* LANG TOGGLE */
.lang-toggle{
  display: flex;
  padding: 3px;
  margin-right: 25px  ;
  border-radius:39px;
  background:#DCE6FF;
  color:#a6a6a6;
  line-height: 30px;
}
.lang-toggle-link{
  width: 30px;
  height: 30px;
  border-radius:50%;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
}
.lang-toggle-link-activ{
  background:#fff;
}
/* SITE NAV  */
.sitenav{
  border-bottom: 1px solid #908d8d;
  padding: 30px 0px 20px 0px ;
}
.sitenav-list{
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.sitenav-item{
  list-style: none;
}
.sitenav-link{
  font-size: 18px;
  line-height: 21px;
  font-family: Rubik;
  font-weight: 500;
  text-decoration: none;
  color:#7F7F7F;
}
.sitenav-link:hover{
  opacity: 0.8;
}
.sitenav-link:active{
  opacity: 0.5;
}
/* SITE HEADER BANER */
.site-header-banner-link{
  display: flex;
  margin-top: 40px;
  margin-bottom: 50px;
}


/* MAIN NEWS */

.news-grid{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: 60px;
}

.article-card-title{
  margin: 0px;
  margin-bottom: 10px;
}

.news-grid-itme{
  width: 384px;
  height: 404px;
  background:#F6F6F6;
  padding: 20px 17px 15px 17px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius:10px;
}

.article-card-link{
  display: inline-block;
  height: 78px;
  text-decoration: none;
  color:#000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  font-family: Rubik;

}
.article-card-text{
  height: 66px;
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}
.article-card-footer{
  display: flex;
  margin-top: 12px;
}
.article-card-source-icon{
  display: inline-block;
  margin-right: 15px;

}

/* SECTION- BANNER */

.section-banner{
  width: 1050px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: auto;
  margin-bottom: 60px;
  background-image: url(../img/Group\ 35\ 1.jpg);
}
.banner-content{
  margin-left: 29px;
  font-size: 19px;
  line-height: 26px;
  font-family: Rubik;
  font-weight: 400;
  color:#000000;
}
.banner-button{
  margin-right: 71px;
}
.button-orang{
  background: #F78B3B;
  color:#fff;
}


/* GLOBAL NEWS  */

.global-nwes-container{
  display: flex;
  padding: 0px;
  margin-bottom: 100px;
}

.global-news-itme{
  width: 797px;
  height: 205px;
  display: flex;
  background:#F6F6F6;
  padding: 17px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.news-itme-img{
  display: flex;
  width: 210px;
  height: 165px;
  margin-right: 15px;
}
.news-itme-link{
  text-decoration: none;
  font-family: Rubik;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color:#000000;
}
.news-itme-text{
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4A4B4C;
}
.news-itme-icon-img{
  display: flex;
  align-items:center;
}
.news-itme-icon-text{
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
  color: #5E5F61;
}

/* GLOBAL NEWS BUTTON */
.global-news-button{
  width: 100%;
  height: 53px;
  text-align: center;
  line-height: 53px;
  background: #EAEAEA;
  margin-top: 17px;
  border-radius:10px
}
.news-button-link{
  font-family: Rubik;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color:#000000;
}

/* GLOBA NEWS ARTIKL LINK */

.news-artik-link-reklam{
  width: 385px;
  height: 502px;
  background:#F6F6F6;
  border-radius:15px;
  margin-left: 10px;
  padding: 10px 15px 15px 15px;
}
.artik-link-reklam-headig{
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  font-family: Rubik;
  font-weight: 500;
  color:#000000;
}
.artik-link-reklam-title{
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin: 0px;
  color:#000000;
}

.news-artik-link-reklam-img{
  width: 385px;
  display: flex;
  margin: 12px 0px 0px 15px;
}

/* FOOTER CONTENT */
.site-footer{
  width: 100%;
  height: 356px;
  background:#7297EF;
}
.content-box{
  width: 920px;
  margin: auto;
  padding: 20px;
}
.footer-logo{
  width: 260px;
  display: inline-block;
  margin-top: 38px;
}
.footer-logo-content-link{
  display: flex;
  justify-content: space-between;
}
.footer-logo-text{
  width: 229px;
  font-family: Rubik;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color:#fff;
}
.footer-top-link-items{
  list-style: none;
}
.footer-top-link-item{
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  color:#ffffff;
  text-decoration: none;
}

/* FOOTER BOOTOM ICON */
.footer-bottom-icon{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer-bottom-icon-text{
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  color:#fff;
}
.footer-icons{
  display: flex;
  list-style: none;
}
.footer-icons li i{
  font-size: 25px;
  margin-left: 25px;
}

/* MODAL SECTION */
.modal{
  width: 100%;
  height: 100vh;
  position: absolute;
  position:fixed;
  display: none;
}
.modal-open{
  display:block;
}
.modal__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  background:#0000005c;


}
.modal__content {
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  background:#fff;
  padding: 20px;
  margin: auto;
  border-radius:15px;
}
.modal__button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}
.button-clos {
  display: inline-block;
  right: 40px;
  top:0px;
  border:none;
  background:none;
  cursor:pointer;
}

.content-heading {
  text-align: center;
  font-family: 'rubik',sans-serif;
  font-size: 26px;
  line-height: 34px;
  font-weight: 500;

}
.content-button-orang {
  width: 130px;
  display: inline-block;
  padding: 8px 12px;
  border-radius:8px;
  border:none;
  background:#F78B3B;
  margin:20px auto;
  cursor: pointer;

}