*{
  box-sizing: border-box;
  font-family:Rubik, sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 22px;
}
*:focus{
  outline: 2px dashed #7296EC;
  outline-offset: 3px;
}
/* BUTTON */
.button{
  display: inline-block;
  padding: 13px 20px;
  border-radius:10px;
  border: 0px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500px;
  text-decoration: none;
  align-items:center;
  cursor: pointer;
}
.button-primery{
  background:#7296EC;
  color:#fff;
}
.button-primery:hover{
  opacity: 0.8;
}
.button-primery:active{
  opacity: 0.6;
}
.container{
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* SITE HEADER */

.site-header-top{
  padding-top: 30px;
  padding-bottom: 30px;
  background:#f6f6f6;
}
.site-header-top-container{
  display: flex;
  align-items:center;
}
.site-header-logo{
  display: flex;
  padding: 8px 6px;
  border-radius: 7px;
  background:#fff;
  margin-right: 30px;
}
.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.5;
}
.currency-retes{
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: auto;
}
.currency-retes-item:not(:last-child){
  margin-right: 25px;
}
.currensy-retes-type{
  color:#2959CE
}
.currensy-retes-value{
  color: #555555;
}
/* global saerch */
.global-search-form{
  margin-right: 25px;
}
.global-search-form-input{
  padding:15px 0px 13px 45px;
  border: 0px;
  border-radius:60px;
  font-size: 14px;
  line-height: normal;

}


/* LANG TOGGLE */
.lang-toggle{
  display: flex;
  padding: 3px;
  margin-right: 25px  ;
  border-radius:39px;
  background:#DCE6FF;
  color:#a6a6a6;
  line-height: 30px;
}
.lang-toggle-link{
  width: 30px;
  height: 30px;
  border-radius:50%;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
}
.lang-toggle-link-activ{
  background:#fff;
}
/* SITE NAV  */
.sitenav{
  border-bottom: 1px solid #908d8d;
  padding: 30px 0px 20px 0px ;
  margin-bottom: 40px;
}
.sitenav-list{
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.sitenav-item{
  list-style: none;
}
.sitenav-link{
  font-size: 18px;
  line-height: 21px;
  font-family: Rubik;
  font-weight: 500;
  text-decoration: none;
  color:#7F7F7F;
}
.sitenav-link:hover{
  opacity: 0.8;
}
.sitenav-link:active{
  opacity: 0.5;
}
/* SITE HEADER BANER */
.site-header-banner-link{
  display: flex;
  margin-bottom: 50px;
}


/* MAIN NEWS */

.news-grid{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: 60px;
}

.article-card-title{
  margin: 0px;
  margin-bottom: 10px;
}

.news-grid-itme{
  width: 384px;
  height: 404px;
  background:#F6F6F6;
  padding: 20px 17px 15px 17px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius:10px;
}

.article-card-link{
  display: inline-block;
  height: 78px;
  text-decoration: none;
  color:#000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  font-family: Rubik;

}
.article-card-text{
  height: 66px;
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}
.article-card-footer{
  display: flex;
  margin-top: 12px;
}
.article-card-source-icon{
  display: inline-block;
  margin-right: 15px;

}

/* SECTION- BANNER */

.section-banner{
  width: 1050px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: auto;
  margin-bottom: 60px;
  background-image: url(../img/Group\ 35\ 1.jpg);
}
.banner-content{
  margin-left: 29px;
  font-size: 19px;
  line-height: 26px;
  font-family: Rubik;
  font-weight: 400;
  color:#000000;
}
.banner-button{
  margin-right: 71px;
}
.button-orang{
  background: #F78B3B;
  color:#fff;
}